body {
    background-color: #000;
    scrollbar-width: thin;
    overflow-y: hidden;
}

::-webkit-scrollbar {
    width: 2px;
    /* 세로축 스크롤바 폭 너비 */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}

a {
    color: inherit;
}

/* 한글 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    src: url('./fonts/noto-sans-kr.ttf') format('woff'),
        url('./fonts/noto-sans-kr.ttf') format('woff2');
    unicode-range: U+AC00-D7A3;
}

/* 영문폰트 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    src: url('https://fonts.gstatic.com/s/roboto/v30/KFOkCnqEu92Fr1MmgWxP.ttf') format('woff2');
    unicode-range: U+0000-007F;
}

/* sub code */
#wrap {
    width: 100vw;
    margin: 0 auto;
}

.con {
    max-width: 92.7%;
    margin: 0 auto;
}

/* ----------------- header logo & nav -----------------*/
header {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 99;
    transition: top 0.2s ease-in-out;
    top: 0;
    background-color: #000;
}

header .header_logo {
    width: 119px;
    line-height: 42px;
    flex-shrink: 0;
    margin-left: 70px;
}

header .header_logo img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.gnb {
    width: 796px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-up {
    top: -90px;
}

.gnb ul {
    display: flex;
}

.gnb ul li {
    margin-right: 37px;
    text-align: center;
    padding: 5px 25px;
}

.gnb ul li a {
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.gnb ul li:hover a {
    font-weight: 700;
}

.gnb a.gactive {
    font-weight: 700;
}

/* ----------------- main sub_nav -----------------*/
.sub_gnb {
    width: 100vw;
    height: 60px;
    background-color: #0F0F0F;
    position: absolute;
    top: 90px;
    z-index: 1;
}

.sub_gnb ul {
    width: 600px;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sub_gnb ul li {
    text-align: center;
    margin-left: 7px;
    padding: 5px 30px;
}

.sub_gnb ul li a {
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #fff;

}

.sub_gnb ul li:first-child {
    margin-left: 0;
}

.sub_gnb ul li a {
    display: block;
}

.sub_gnb ul li a:hover {
    color: #09E200;
    font-weight: 600;
}

.sub_gnb a.active {
    color: #09E200;
    /* 클릭된 상태일 때의 색상 */
    font-weight: 600;
}

/* ----------------- campaign_con -----------------*/
.main_con {
    width: 1630px;
    margin: 0 auto;
    margin-top: 300px;
    color: #fff;
    /* background-color: #eee; */
}

.cont {
    display: flex;
}

.cont h2 {
    font-size: 52px;
}

.cont p {
    font-size: 22px;
}

.cont p {
    margin-top: 40px;
}

.cont p:last-child {
    margin-top: 14px;
}

.sec01 {
    position: relative;
}

.sec01_left {
    position: relative;
    margin-top: 170px;
}

.sec01_left img {
    position: absolute;
    top: -100px;
    z-index: -1;
}

.sec01_right {
    position: absolute;
    right: 0;
}

.sec02 {
    margin-top: 300px;
    position: relative;
}

.sec02_right {
    position: relative;
    margin-top: 170px;
    margin-left: 165px;
}

.sec02_right img {
    position: absolute;
    top: -100px;
    z-index: -1;
}

.sec03 {
    margin: 300px 0;
}

.sec03_left {
    position: relative;
    margin-top: 170px;
}

.sec03_left img {
    position: absolute;
    top: -100px;
    z-index: -1;
}

.sec03 {
    position: relative;
}

.sec03_right {
    position: absolute;
    right: -10px;
}

/* ----------------- 연혁 -----------------*/
.timeline {
    position: relative;
    left: 30px;
    top: 100px;
    margin: 0 auto;
    padding: 20px 0;
}

.timeline-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.year {
    width: 100px;
    text-align: right;
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    margin-right: 40px;
}

.circle {
    width: 18px;
    height: 18px;
    background-color: #09E200;
    border-radius: 50%;
    position: relative;
    left: 9px;
    margin-right: 20px;
}

.content {
    flex: 1;
    font-size: 28px;
    color: #fff;
    margin-left: 40px;
}

.timeline-item::before {
    content: '';
    position: absolute;
    width: 4px;
    height: calc(100% + 30px);
    /* 선의 길이 */
    background-color: #fff;
    left: 156px;
    /* 선을 동그라미와 맞추기 */
    top: 0;
    z-index: -1;
}

.timeline-item:last-child::before {
    height: 100%;
    /* 마지막 요소는 선 길이를 조정 */
}

.btn {
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
    padding: 15px 36px;
    font-size: 24px;
    font-weight: 500;
    line-height: -4px;
    text-align: center;
    cursor: pointer;
    margin-left: 750px;
    margin-bottom: 300px;
}
.btn a{
    display: block;
}
.btn:hover{
    background-color: #09E200;
    border: 1px solid #09E200;
    color: #000;
}
/* ----------------- footer -----------------*/
footer {
    width: 100%;
    height: 388px;
    background-color: #0F0F0F;
    padding: 0 20px;
}

.tit {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
}

.fonnter_con {
    margin: 0 auto;
    width: 1206px;
    height: 100%;
    padding-top: 109px;
    display: flex;
}

footer .footer_info {
    width: 529px;
    height: 136px;
    display: flex;
    color: #fff;
}

.footer_info .down_app {
    width: 129px;
    height: 48px;
    margin-right: 79px;
}

.footer_info .down_app img {
    width: 100%;
}

.footer_info .foot_cscenter {
    margin-right: 25px;
    font-weight: 500;
}

.talk {
    display: flex;
    font-size: 14px;
}

.talk img {
    margin-top: 5px;
    margin-left: 6px;
    width: 16px;
    height: 16px;
}

.foot_menu {
    color: #A7A7A7;
    font-size: 14px;
    letter-spacing: -2%;
    margin-left: 30px;
    display: flex;
}

address {
    font-style: normal;
}

.foot_menu .copyright {
    margin-top: 13px;
}

.foot_menu .guidelines {
    color: #fff;
    margin-left: 70px;
    padding-bottom: 15px;
}

.foot_menu .guidelines a {
    font-size: 16px;
    font-weight: 600;
    display: block;
}

.sns_area {
    width: 185px;
}

.sns {
    display: flex;
    margin-top: 22px;
}

.sns li {
    padding-top: 3px;
    padding-right: 11px;
}